* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Poppins', sans-serif;
}

#text {
	display: flex;
	padding: 6em 8em;
}

#bigText {
	font-family: Georgia, Times, serif;
	width: 50%;
	margin-right: 5em;
}

#paragraph {
	width: 50%;
}

#images {
	display: flex;
	flex-flow: row wrap;
	margin-left: 8em;
}

.imageFull {
	width: 30em;
	height: auto;
	margin: 0 6em 0 0;
}

.imageFull:nth-of-type(3n + 2) {
	margin: 6em 6em 0 0;
}

.imageFull img {
	width: 100%;
}

.job {
	font-family: serif;
	font-size: 12px;
	position: relative;
	top: -59em;
	left: 41em;
	writing-mode: vertical-lr;
	text-orientation: mixed;
}

.right {
	top: -61em;
}

footer, footer a {
	text-align: center;
	color: gray;
	margin-bottom: 1em;
}

@media (max-width: 375px) {
		#text {
			display: block;
		padding: 0;
		font-size: 18px;
		margin: 5em 1em 2em 1em;
	}

	#bigText{
		width: 100%;
	}

	#paragraph {
		margin-top: 1em;
		width: 100%;
	}

	#paragraph h2 {
		margin-bottom: 0.8em;
	}

	#paragraph p {
		margin-bottom: 4em;
	}

	#images {
		max-width: 100%;
		font-size: 14px;
		display: flex;
		flex-flow: row wrap;
		margin-left: 1em;
	}

	.imageFull {
		height: 10vh;
		width: 11em;
	}

	.imageFull img{
		width: 90%;
	}

	.imageFull:nth-of-type(2n) {
		position: relative;
		left: 13em;
		top: -8em;
		margin-top: 6em;
	}

	.imageFull:nth-of-type(5){
		margin-top: 0em;
	}
	.job {
		position: relative;
		top: -20.5em;
		left: 13em;
		font-size: 11px;
		writing-mode: vertical-lr;
		text-orientation: mixed;
	}

	.right {
		top: -21em;
	}

}
